* {
    background-color: cadetblue;




}





h1 {

    background-color: aqua;
    color: rgb(255, 0, 0);
    margin: auto;
    padding: 50px;
    border: 40px crimson;
    border-style: groove;

    border-radius: 400px 700px;
    text-align: center;
    width: 300px;
}

#Conteudo {

    background-color: chartreuse;

    width: 70%;
    margin: auto;


}