body{
background-color: rgb(148, 0, 0);
    color: rgba(255, 230, 0, 0.993);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,;
   text-align: center; 
   margin: 500px;
    margin-left: 100px;
    margin-right: 100px;
    

} 
