body{
background-color: rgb(0, 0, 0);
    color: rgba(75, 198, 255, 0.993);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   text-align: center; 
    margin:100px;
   font-size: 20px;
}


